<div class="login-container">
    <div class="login-form-h1">Sign In</div>

    <form id="loginForm" (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
        <div class="login-form-field">
            <input id="email" type="text" name="email" placeholder="Email" ngModel required>
        </div>

        <div class="login-form-field">
            <input id="password" type="password" name="password" placeholder="Password" ngModel required>
        </div>

        <div *ngIf="loginError" class="auth-error">{{loginErrorMessage}}</div>

        <div class="login-form-btn-container">
            <button id="login" type="submit" class="sign-in" [disabled]="!loginForm.valid">LOGIN</button>
        </div>

        <div class="remember-me">
            <input type="checkbox"> Remember me
        </div>

        <div class="login-form-info">
            Don't have an account? Sign up <a (click)="redirectToRegister()">here</a>.
        </div>
    </form>
</div>
