<div class="user-popup" *ngIf="selectedUser">
    <div class="user-popup-top">
        <div class="user-popup-img-container">
            <img src="{{selectedUser.ProfileImage}}">
        </div>
        {{selectedUser.Username}}
        {{selectedUser.Email}}
    </div>

    <div class="user-popup-bottom">
        <div>{{selectedUser.FirstName + " " + selectedUser.LastName}}</div>

        <div>Subscribed Servers</div>
        <div class="user-popup-servers">
            <div *ngFor="let server of selectedUser.SubscribedServers" class="user-popup-server">
                <img src="{{server.ServerImage}}">
            </div>
        </div>
    </div>
</div>
