<div class="dashboard-container" *ngIf="this.isDataAvailable">
    <div class="dashboard-top">
        <img id="user-pfp" src="{{currentUser.ProfileImage}}">
        <div class="user-data">Welcome, {{currentUser.Username}}</div>
        <div class="user-options-icon">
            <i class="fa-2x fa fa-cog"></i>
        </div>
    </div>

    <div class="dashboard-main">
        <div class="A">
            <div class="server-list">
                <div class="server-row" (click)="serverList()">
                    <div class="server-img" style="text-align: center">
                        <i class="fa fa-plus-circle add-server"></i>
                    </div>
                    <div class="server-name" style="text-align: center;">Browse Servers</div>
                </div>

                <div *ngFor="let server of this.subscribedServers" class="server-row" id="{{server._id}}" (click)="onServerChange(server._id)" [class.selected-server]="server._id === selectedServer._id">
                    <div class="server-img" style="text-align: center">
                        <img src="{{server.ServerImage}}">
                    </div>
                    <div class="server-name" style="text-align: center;">{{server.Name}}</div>
                </div>
            </div>
        </div>

        <div class="B">
            <div class="messages-list">
                <div class="server-info">
                    <div class="server-info-name">{{selectedServer? selectedServer.Name : ""}}</div>
                    <div class="server-info-description">{{selectedServer? selectedServer.Description : ""}}</div>
                </div>

                <div class="messages">
                    <div *ngFor="let message of currentMessages" class="message-row">
                        <div class="message-img">
                            <img src="{{message.Sender.ProfileImage}}" class="message-profile-image">
                        </div>
                        <div class="message-text">
                            <div class="message-header">{{message.Sender.Username + " - " + dateToLocal(message.CreatedDate)}}</div>
                            <div class="message-content">{{message.Content}}</div>
                        </div>
                    </div>
                </div>

                <div class="send-message-container">
                    <input class="send-message-input" type="text" placeholder="Message {{selectedServer? selectedServer.Name: ''}}" (keyup.enter)="sendMessage($event)" [attr.disabled]="selectedServer? null:''">
                </div>
            </div>
        </div>

        <div class="C">
            <div class="users-list">
                <div *ngFor="let subscribedUser of this.subscribedUsers" class="user-row">
                    <div class="subscribed-user-img">
                        <img src="{{subscribedUser.ProfileImage}}">
                    </div>
                    <div class="subscribed-user-name">{{subscribedUser.Username}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
